.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px 40px;
    background-color: #FFF8DC;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Judul Login */
.login-container h1 {
    text-align: center;
}

/* Logo */
.logo {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto 20px;
}

/* Input Username */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Input Password */
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Tombol Login */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Efek ketika tombol disentuh */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link */
p {
    text-align: center;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {

    .login-container {
        width: 90%;
        margin: 50px auto;
        box-sizing: border-box;
    }

    input[type="text"],
    input[type="password"],
    button[type="submit"] {
        font-size: 16px;
    }

}
